* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: #ECE510;
  background-color: black;
  font-family: sans-serif;
}

header {
  border-bottom: solid #FFFFFF 1px;
  background-image: url("../ressources/slide.jpg");
  background-repeat: no-repeat;
  
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

section.main {
  padding: 15px;
  padding-top: 19px;
  border-left: solid #FFFFFF 1px;
  border-right: solid #FFFFFF 1px;
  
  width: 100%;
  height: 623px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  width: 250px;
  background-color: #9D0C0F;
  padding: 15px;
  display: inline-block;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

footer {
  border-top: solid #FFFFFF 1px;
  background-image: url("../ressources/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0px top -70px;
  
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

h2.main {
  border-bottom: solid yellow 1px;
  color: yellow;
}

h1,
h2 {
  cursor: default;
}

h2.sidebar {
  font-size: 13pt;
  font-family: sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: solid yellow 1px;
  color: yellow;
}

img {
  width: 300px;
}

li {
  list-style: none;
  padding: 2px;
  padding-left: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 220px;
  border: solid #FFFFFF 1px;
  border-radius: 10px;
  color: yellow;
  font-size: 12pt;
  font-weight: 100;
}

li:hover {
  background-color: yellow;
  color: darkred;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0px;
}

span {
  white-space: nowrap;
}

nav.sidebar,
section.sidebar {
  width: 250px;
  background-color: #9D0C0F;
  padding: 15px;
  color: #FFFFFF;
}

.footer {
  white-space: nowrap;
  text-align: center;
}
