* {
  box-sizing: border-box;
}

body {
  background-color: #000000FF;
  color: #ECE510FF;
  margin: 0px;
  font-family: sans-serif;
  display: grid;
  flex-flow: row;
  grid-template-rows: 100px auto 50px;
  grid-template-columns: 250px 6fr 1fr;
  grid-template-areas:  "H H H" 
                        "N M A" 
                        "F F F";
}

header {
  grid-area: H;
  display: flex;
  align-items: center;
  border-bottom: solid #FFFFFFFF 1px;
  background-image: url("../ressources/slide.jpg");
  background-repeat: no-repeat;
}

nav {
  grid-area: N
  padding: 15px;
}

main {
  grid-area: M;
  display: block;
  overflow-x: hidden;
  background-color: #000000FF;
  padding: 15px;
  padding-top: 19px;
  border-left: solid #FFFFFFFF 1px;
  border-right: solid #FFFFFFFF 1px;
}

aside {
  grid-area: A;
  padding: 15px;
}

footer {
  grid-area: F;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid #FFFFFFFF 1px;
  background-image: url("../ressources/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0px top -70px;
}

h1,
h2 {
  cursor: default;
}

h2.main {
  border-bottom: solid yellow 1px;
  color: yellow;
}

h2.aside {
  font-size: 13pt;
  font-family: sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: solid yellow 1px;
  color: yellow;
}

img {
  width: 300px;
}

li {
  list-style: none;
  padding: 2px;
  padding-left: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 220px;
  border: solid #FFFFFFFF 1px;
  border-radius: 10px;
  color: #ffff00ff;
  font-size: 12pt;
  font-weight: 100;
}

li:hover {
  background-color: yellow;
  color: darkred;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0px;
}

span {
  white-space: nowrap;
}

nav,
aside {
  width: 250px;
  background-color: #9D0C0FFF;
  padding: 15px;
  color: #FFFFFFFF;
}

.footer {
  white-space: nowrap;
  text-align: center;
}
