:root {
  --couleur0: #111111FF;
  --couleur1: #9D0D0FFF;
  --couleur2: #EEEE00FF;
  --couleur3: #FFFFFFFF;
  --couleur4: #0f9D0DFF;
  --couleur5: #00FF00FF;
}

* {
  box-sizing: border-box;
}

*[tabindex]:focus
{
  outline: 0;
  color: var(--couleur1);
  background-color: var(--couleur2);
}

/*******************************/

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--couleur2);
  background-color: var(--couleur1);
  display: grid;
  grid-template-rows: 100px 1fr 50px;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas: "H H H" 
                       "N M A"
                       "F F F";
}

/*******************************/

a:link, a:visited {
  color: var(--couleur2);
  text-decoration:none;
}

a:hover {
  color: var(--couleur3);
}

a:active {
  color: var(--couleur5);
}

ul {
  padding-left:0;
}

li {
  list-style:none;
}

/*******************************/

header {
  grid-area: H;
  /*background: var (--couleur4); url('../img/slide.jpg') left top no-repeat;*/
  background-color: var(--couleur4);
  background-image: url('../assets/slide.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  padding: 10px 5px 15px;
  border-bottom: 2px solid var(--couleur1);
}

img#logo {
  height: 100%;
}

a#logo:focus {
  outline: 0;
  border: solid transparent 5px;
}

h2, h3 {
  border-bottom: 2px solid var(--couleur2);
}

h3 {
  padding-top: 8px;
}

/*******************************/

nav, #main, aside {
  /*display:flex;*/
  min-height: 150vh;
  padding: 10px;
}

/*******************************/

nav {
  grid-area: N;
}

.navMenu a {
  display: block;
  border: 1px solid var(--couleur3);
  border-radius: 10px;
  padding: 2px;
  margin-bottom: 10px;
}

.navMenu a:hover, .navMenu a:focus {
  outline: 0;
  color: var(--couleur1);
  background-color: var(--couleur2);
}

/*******************************/

#main {
  grid-area: M;
  background-color: var(--couleur0);
}

/*******************************/

aside {
  grid-area: A;
}

.asideMenu {
  color: var(--couleur3);
}

/*******************************/

footer {
  padding:10px;
  grid-area: F;
  background: url('../assets/banner.jpg') no-repeat left top;
  background-size:cover;
  background-position-y: -75px; 
  text-align:center;
  color:var(--couleur2);
  border-top: 2px solid var(--couleur3);
}

/*******************************/
/* TABLES */

table {
  width: 100%;
  /* border: 1px solid var (--couleur2); */
  text-align: justify;
  border-collapse: collapse;
}

th {
  text-align: left;
  /* border: 1px solid var (--couleur3); */
  padding:5px;
  color: var(--couleur3);
  font-size: 1.2em;
}

td {
  text-align: left;
  /* border: 1px solid var (--couleur3); */
  padding:5px;
  color: default var(--couleur3);
}

/*******************************/
/* FORMS */

label {
  display: inline-block;
  width: 150px;
  margin-bottom: 20px;
}

input, textarea, select {
  background-color: #333333FF;
  color: var(--couleur2);
  border: 1px solid var(--couleur2);
  padding: 5px;
  border-radius: 1px;
  transition: all ease 0.8s;
  width: 200px;
}

input[type="submit"]:hover
{
  cursor: pointer;
  box-shadow: 2px 2px 10px 1px var(--couleur3);

}

/*******************************/

.edit 
{
  width: 15px;
  height: 15px;
  margin-left: 9px;
  padding: 0;
  padding-right: 1px;
  line-height: 0.5em;
  font-size: 0.8em;
  text-align: center;
  border: solid transparent 1px;
  border-radius: 5px;
  color: var(--couleur2);
  background-color: transparent;
}

.edit:hover
{
  border: solid var(--couleur2) 1px;
  color: var(--couleur0);
  background-color: var(--couleur2);
}

.edit:focus 
{
  outline: 0;
  border: solid var(--couleur2) 1px;
  color: var(--couleur0);
  background-color: var(--couleur2);
}

#editForm 
{
  display: none;
}