body{
	font-size: 10pt;
	margin: 5%;
}

.tablematieres{
	display: none;
}

div.corpus{
	left: 0px;
	top: 0px;
}

h1, h2, h3, h4{
	page-break-after : avoid;
}

h1{
	text-align: left;
}

td, li, p{
	page-break-inside : avoid;
}