/* ELEMENTS DE LA PAGE ENTIERE */

:root {
  /* Couleurs des Bordures */
  --borderColor: #beec47ff;
  --borderDarkColor: #55cc22ff;
  /* Couleurs des Fonds */
  --bgMain: #7dcd45ff;
  --bgBright: #177800ff;
  --bgDark: #479214ff;
  /* Couleurs de Police du texte */
  --fontDark: #386130ff;
  --fontBright: #ffffffff;
  /* Couleurs de Police des liens */
  --linkFontDark: #62700aff;
  --linkFontBright: #acf248ff;
  /* Type des Polices */
  --fontFamily: "Arial", "Helvetica", sans-serif;
  --itemsFontType: all-petite-caps;
  --textFontType: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: var(--fontFamily);
  font-variant: var(--textFontType);
  background-color: var(--bgMain);
  color: var(--fontDark);
  display: grid;
  grid-template-rows: 15vh 77vh 8vh;
  grid-template-columns: 1fr 15vw;
  grid-template-areas:  "H H"
                        "M A"
                        "F F";
}

/* ELEMENTS DU HEADER */

header {
  grid-area: H;
  cursor: default;
  background-color: inherit;
  display: grid;
  grid-template-rows: 80% 20%;
  grid-template-columns: justify;
  grid-template-areas:  "S"
                        "N";
}

/* a[role="slider"] */
[role="slider"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  grid-area: S;
}




nav {
  text-align: center;
  border-top: solid var(--borderColor) 1px;
  border-bottom: solid var(--borderColor) 1px;
  background-color: var(--bgBright);
  grid-area: N;
}

ul[role="menubar"],
ul[role="menubar"] * {
  display: flex;
  margin: 0;
  padding: 0;
  width: 85%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  font-stretch: expanded;
  font-size: 8pt;
  font-size-adjust: auto;
  flex: 1 100%;
  list-style-type: none;
  border-right: solid var(--borderColor) 1px;
  margin-right: -1px;
}


ul[role="menubar"] {
  --menuItemLeft: attr(data-width px, 50px);
  --menuItemTop: 300px;
}

ul[role="menubar"] a {
  text-decoration: none;
  color: var(--linkFontBright);
  font-size: 12pt;
  font-size-adjust: auto;
}

ul.deroulante { /* ooo */
  position: absolute;
  color: red;
  display: block;
  width: 150px;
  margin: 0;
  padding: 4px;
  list-style: none;
  left: var(--menuItemLeft);
  top: var(--menuItemTop);
  background-color: var(--bgBright);
}






span[role="search"],
span[role="search"] * {
  display: flex;
  flex-flow: nowrap;
  padding: 0;
}

span[role="search"] input[type="text"] {
  background-color: #ffffff99;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 11pt;
  border: solid var(--borderDarkColor) 1px;
}

span[role="search"] button {
  padding-left: 5px;
  padding-right: 5px;
  background-color: var(--bgBright);
  border: none;
}

span[role="search"] button:after {
  content: "⋗";
}

/* ELEMENTS DU MAIN */

main {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  cursor: default;
  padding-left: 30px;
  font-size: 13pt;
  grid-area: M;
}

/* ELEMENTS DU ASIDE */

aside {
  padding: 10px;
  display: flex;
  flex-direction: column;
  cursor: default;
  background-color: inherit;
  grid-area: A;
}

section[role="note"] {
  border: solid var(--borderColor) 1px;
  margin: 5px;
  margin-top: 0;
  padding: 6px;
  background-color: var(--bgBright);
  font-stretch: semi-condensed;
}

/* ELEMENTS DU FOOTER */

footer {
  display: flex;
  flex-direction: row;
  padding: 10px;
  cursor: default;
  justify-content: space-evenly;
  border: solid var(--borderColor) 1px;
  background-color: var(--bgDark);
  grid-area: F;
}

footer a {
  text-decoration: none;
  color: var(--linkFontBright);
}

footer li {
  list-style: none;
}

footer li:before, footer li:after {
  content: "::";
  color: inherit;
  width: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* ELEMENTS COMMUNS */

header,
aside > h2,
footer {
  font-variant: var(--itemsFontType);
}

a {
  text-decoration: none;
  color: var(--linkFontDark);
}

h1,
.h1,
a[role="slider"] {
  font-size: 25pt;
}

h1,
h2 {
  font-weight: 100;
}

p,
h2,
h3 {
  text-align: justify;
  text-indent: 15px;
}

ul[role="menubar"] li,
span[role="search"] button,
[role="note"],
[role="note"] h1,
[role="note"] p,
footer
{
  color: var(--fontBright);
}

li {
  padding-left: 4px;
  padding-right: 4px;
}

ul[role="menubar"] li:hover {
  background-color: #50ad3dff;
}
