/* ELEMENTS DE LA PAGE ENTIERE */

:root {
  /* Couleurs des Bordures */
  --borderColor: #54ae35ff;
  /* Selon le modèle: #7FFF00 */
  --borderDarkColor: #048520ff;
  /* Couleurs des Fonds */
  --bgMain: #cbd888ff;
  --bgBright: #54ae35ff;
  --bgDark: #048520ff;
  /* Couleurs de Police */
  --fontDark: #000000ff; /* NOIR */
  --fontDark2: #00000099; /* NOIR PALE */
  --linkFontDark: #b25c5cbb; /* ROUGE*/
  --fontBright: #ffffffff; /* BLANC */
  --linkFontBright1: #ffffffdd; /* BLANC PALE */
  --linkFontBright2: #ffffffbb; /* BLANC PALE PALE */
  /* Taille des Polices */
  --titleFontSize: 2em;
  --fontSize: 1em;
  --itemFontSize: 1em;
  /* Type des Polices */
  --fontType: "Verdana", sans-serif;
  --itemFontType: "Arial", "Helvetica", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
}

body {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #000;
  min-height: 100%;
  min-width: 20%;
  max-width: 100%;
  width: 1100px;
  font-family: var(--itemFontType);
  color: var(--fontDark2);
  font-size: var(--fontSize);
  display: grid;
  grid-template-rows: 250px auto 80px;
  grid-template-columns: 1fr 6fr 1fr;
  /*12% 1fr 18%;*/
  grid-template-areas: "H  H  H"
    "Nv M  A"
    "F  F  F";
}

/* ELEMENTS DU HEADER */

header {
  cursor: default;
  min-width: 100%;
  max-width: 100%;
  background-color: var(--bgBright);
  border-bottom: solid var(--borderDarkColor) 1px;
  white-space: nowrap;
  grid-area: H;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 94% 20px;
  grid-template-areas: "Ia Ib"
                        "Nh Nh";
}

/* Images */
header a.logo {
  height: 100%;
  grid-area: Ia;
}
header a.image {
  height: 100%;
  grid-area: Ib;
}
header img.logo {
  border: solid var(--borderDarkColor);
  height: 100%;
  width: 100%;
  border-width: 6px 3px 6px 6px;
}
header img.image {
  border: solid var(--borderDarkColor);
  height: 100%;
  width: 100%;
  border-width: 6px 6px 6px 3px;
}

/* Menu Horizontal */
nav[role="menubar"] {
  position: relative;
  top: -5px;
  height: 100%;
  padding: 0;
  padding-left: 7.9vw;
  padding-right: 10.9vw;
  display: flex;
  flex-flow: row;
  justify-content: center;
  white-space: nowrap;
  font-variant: all-petite-caps;
  font-size: var(--itemFontSize);
  background-color: var(--bgBright);
  font-family: var(--fontType);
  font-weight: bold;
  grid-area: Nh;
}
nav[role="menubar"] > li {
  text-align: center;
  margin-left: -1px;
}
nav[role="menubar"] li {
  border-left: solid 1px var(--borderColor);
  border-right: solid 1px var(--borderColor);
  border-bottom: solid 1px var(--borderDarkColor);
  background-color: var(--bgDark);
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
  min-width: 160px;
}
nav[role="menubar"] li ul {
  position: absolute;
  padding: 0px;
  display: none;
  text-align: left;
  margin-left: -7px; /* BIDOUILLAGE */
}
nav[role="menubar"] li:hover {
  display: block;
  background-color: var(--bgBright);
}
nav[role="menubar"] li:hover ul {
  display: block;
}
nav[role="menubar"] li:hover ul li ul {
  display: none;
}
nav[role="menubar"] li:hover ul li:hover ul {
  display: inline;
  position: absolute;
  left: 100%;
  margin-left: 0px;
  /* BIDOUILLAGE */
}
nav[role="menubar"] a {
  text-decoration: none;
  display: inline-block;
  color: var(--linkFontBright);
}
nav[role="menubar"] a:hover {
  color: lime;
}

/* ELEMENTS DU MENU VERTICAL */

nav[role="navigation"] {
  font-size: var(--fontSize);
  background-color: #000000ff;
  color: var(--linkFontDark);
  border-left: solid var(--bgMain) 1px;
  border-top: solid var(--bgMain) 1px;
  display: grid;
  grid-area: Nv;
  grid-template-rows: auto 1fr;
  grid-template-areas: "S" "W";
}
nav[role="navigation"] section {
  padding: 24px;
  grid-area: S;
}
nav[role="navigation"] section.wallpaper {
  background-color: #2d2f22ff;
  grid-area: W;
}
nav[role="navigation"] section a {
  display: block;
  color: var(--linkFontDark);
  margin-bottom: 10px;
}

/* ELEMENTS DU MAIN */

main {
  background-color: var(--bgMain);
  cursor: default;
  padding: 15px;
  grid-area: M;
  overflow-y: hidden;
}
main p img {
  float: left;
  width: 45%;
  margin-right: 10px;
}

/* ELEMENTS DU ASIDE */

aside {
  background-color: var(--bgMain);
  grid-area: A;
}
aside section {
  cursor: default;
  margin-top: 1px;
  padding: 17px;
  margin-bottom: 3px;
  background-color: black;
  border: none;
  border-right: solid var(--bgMain) 1px;
}
aside section li {
  white-space: nowrap;
}
aside section a {
  color: var(--linkFontBright);
}
aside section .hr {
  display: block;
  text-indent: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: solid var(--linkFontBright1) 1px;
  width: 100%;
  height: 1px;
}

/* ELEMENTS DU FOOTER */

footer {
  padding: 10px;
  font-size: var(--fontSize);
  cursor: default;
  background-color: #048520ff;
  grid-area: F;
}
footer a {
  display: inline;
  text-decoration: none;
  color: var(--linkFontBright);
}
footer p {
  text-align: center;
  color: #00000088;
}

/* ELEMENTS COMMUNS */

header,
aside > h2,
footer {
  font-variant: var(--itemsFontType);
}

a, img {
  text-decoration: none;
}

h1,
.h1,
a[role="slider"] {
  font-size: var(--titleFontSize);
  color: var(--fontDark);
  margin-bottom: 0.4em;
  font-weight: 800;
}

p,
h2,
h3 {
  text-align: justify;
}

[role="menubar"] li a {
  color: var(--linkFontBright1);
}

aside section a,
footer a {
  color: var(--linkFontBright2);
}

[role="menubar"] li,
aside section,
footer {
  color: var(--fontBright);
}
